<section class="section components-section">
  <div class="container components-container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="word-color">TASTE</span> SENSATION
    </h2>
    <p class="components-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="components-item">
        <img
          class="components-item-image"
          srcset="
            ../img/components/chocolate.webp    1x,
            ../img/components/chocolate@2x.webp 2x
          "
          src="../img/components/chocolate.webp"
          alt="chocolate"
        />
        <p class="components-item-description">MILK CHOCOLATE</p>
      </li>
      <li class="components-item">
        <img
          class="components-item-image"
          srcset="
            ../img/components/milk.webp    1x,
            ../img/components/milk@2x.webp 2x
          "
          src="../img/components/milk.webp"
          alt="milk"
          width="224"
          height="171"
        />
        <p class="components-item-description">MILK</p>
      </li>
      <li class="components-item">
        <img
          class="components-item-image"
          srcset="
            ../img/components/nuts.webp    1x,
            ../img/components/nuts@2x.webp 2x
          "
          src="../img/components/nuts.webp"
          alt="nuts"
          width="224"
          height="171"
        />
        <p class="components-item-description">NUTS</p>
      </li>
      <li class="components-item">
        <img
          class="components-item-image"
          srcset="
            ../img/components/semi.webp    1x,
            ../img/components/semi@2x.webp 2x
          "
          src="../img/components/semi.webp"
          alt="semi-sweet chocolate"
          width="224"
          height="171"
        />
        <p class="components-item-description">SEMI - SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
</section>
