<section class="section components-section">
  <div class="container components-container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="word-color">TASTE</span> SENSATION
    </h2>
    <p class="components-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="flip-card">
        <div class="flip-card-inner">
          <div class="components-item flip-card-front">
            <img
              loading="lazy"
              class="components-item-image"
              srcset="
                ./img/components/chocolate.webp    1x,
                ./img/components/chocolate@2x.webp 2x
              "
              src="./img/components/chocolate.webp"
              alt="chocolate"
            />
            <p class="components-item-description">MILK CHOCOLATE</p>
          </div>
          <div class="flip-card-back">
            <div>
              <p class="card-back-title">Milk chocolate</p>
              <button type="button" class="card-first-button">chocolate</button>
              <button type="button" class="card-second-button">
                the benefits
              </button>
            </div>
            <div class="card-description-field">
              <p class="card-description">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe,
                increasingly large amounts are consumed in China and Latin
                America.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="flip-card">
        <div class="flip-card-inner">
          <div class="components-item flip-card-front">
            <img
              loading="lazy"
              class="components-item-image"
              srcset="
                ./img/components/milk.webp    1x,
                ./img/components/milk@2x.webp 2x
              "
              src="./img/components/milk.webp"
              alt="milk"
            />
            <p class="components-item-description">MILK</p>
          </div>
          <div class="flip-card-back">
            <div>
              <p class="card-back-title">Milk</p>
              <button type="button" class="card-first-button">milk</button>
              <button type="button" class="card-second-button">
                the benefits
              </button>
            </div>
            <div class="card-description-field">
              <p class="card-description">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system, and thus reduces the risk of many diseases. Milk
                contains many nutrients, including protein and lactose.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="flip-card">
        <div class="flip-card-inner">
          <div class="components-item flip-card-front">
            <img
              loading="lazy"
              class="components-item-image"
              srcset="
                ./img/components/nuts.webp    1x,
                ./img/components/nuts@2x.webp 2x
              "
              src="./img/components/nuts.webp"
              alt="nuts"
            />
            <p class="components-item-description">NUTS</p>
          </div>
          <div class="flip-card-back">
            <div>
              <p class="card-back-title">Nuts</p>
              <button type="button" class="card-first-button">nuts</button>
              <button type="button" class="card-second-button">
                the benefits
              </button>
            </div>
            <div class="card-description-field">
              <p class="card-description">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They're a good source of
                fiber, healthy fats, and plant protein. Plus, they're great on
                their own, paired with fruit, or added to dishes like salads,
                desserts, and grains.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="flip-card">
        <div class="flip-card-inner">
          <div class="components-item flip-card-front">
            <img
              loading="lazy"
              class="components-item-image"
              srcset="
                ./img/components/semi.webp    1x,
                ./img/components/semi@2x.webp 2x
              "
              src="./img/components/semi.webp"
              alt="semi-sweet chocolate"
            />
            <p class="components-item-description">SEMI - SWEET CHOCOLATE</p>
          </div>
          <div class="flip-card-back">
            <div>
              <p class="card-back-title">semi - sweet chocolate</p>
              <button type="button" class="card-first-button">
                sweet chocolate
              </button>
              <button type="button" class="card-second-button">
                the benefits
              </button>
            </div>
            <div class="card-description-field">
              <p class="card-description">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow. This delectable flavor of chocolate is very
                versatile.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
