<section>
  <container>
    <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
    <p>
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul>
      <li>
        <img
          srcset="
            ../img/components/chocolate.webp    1x,
            ../img/components/chocolate@2x.webp 2x
          "
          src="../img/components/chocolate.webp"
          alt="chocolate"
          width="224"
          height="171"
        />
        <p>MILK CHOCOLATE</p>
      </li>
      <li>
        <img
          srcset="
            ../img/components/milk.webp    1x,
            ../img/components/milk@2x.webp 2x
          "
          src="../img/components/milk.webp"
          alt="milk"
          width="224"
          height="171"
        />
        <p>MILK</p>
      </li>
      <li>
        <img
          srcset="
            ../img/components/nuts.webp    1x,
            ../img/components/nuts@2x.webp 2x
          "
          src="../img/components/nuts.webp"
          alt="nuts"
          width="224"
          height="171"
        />
        <p>NUTS</p>
      </li>
      <li>
        <img
          srcset="
            ../img/components/semi.webp    1x,
            ../img/components/semi@2x.webp 2x
          "
          src="../img/components/semi.webp"
          alt="semi-sweet chocolate"
          width="224"
          height="171"
        />
        <p>SEMI - SWEET CHOCOLATE</p>
      </li>
    </ul>
  </container>
</section>
