<footer id="footer">
  <div class="container">
    <div class="first-footer-part">
      <h2 class="title-footer">
        <span>Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="addres-wrap">
        <address class="footer-addres">
          <p class="desc-footer">Contact us</p>
          <ul class="footer-list-addres">
            <li><a href="tel:+380964439426" class="footer-list-addres-item">+380 (68) 443-94-26</a></li>
            <li>
              <a href="mailto:simplychoc@gmail.com" class="footer-list-addres-item">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>
        <ul class="footer-list-icon">
          <li class="footer-social-item">
            <a href="https://www.instagram.com/" target="_blank" class="footer-social-link" aria-label="instgram">
              <svg class="icon-footer">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://twitter.com/" target="_blank" class="footer-social-link" aria-label="twitter">
              <svg class="icon-footer">
                <use href="./img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="footer-list-nav">
        <li><a href="#home" class="footer-list-nav-item">Home</a></li>
        <li><a href="#howmade" class="footer-list-nav-item">How it’s made?</a></li>
        <li><a href="#produts" class="footer-list-nav-item">Our products</a></li>
        <li><a href="#sallers" class="footer-list-nav-item">Top sellers</a></li>
        <li><a href="#chocolove" class="footer-list-nav-item">Chocolate is loved</a></li>
      </ul>
    </nav>
  </div>
</footer>
