<footer id="footer">
  <div class="container">
    <div class="first-footer-part">
      <h2 class="title-footer">
        <span>Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="addres-wrap">
        <address class="footer-addres">
          <p class="desc-footer">Contact us</p>
          <ul class="footer-list-addres">
            <li><a href="tel:+380964439426">+380 (68) 443-94-26</a></li>
            <li>
              <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>
        <ul class="footer-list-icon">
          <li>
            <a href="" target="_blank">
              <svg class="icon-footer">
                <use href="../img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <svg class="icon-footer">
                <use href="../img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="footer-list-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#howmade">How it’s made?</a></li>
        <li><a href="#produts">Our products</a></li>
        <li><a href="#sallers">Top sellers</a></li>
        <li><a href="#chocolove">Chocolate is loved</a></li>
      </ul>
    </nav>
  </div>
</footer>
