<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="header-logo">
      SIMPLY <span>CHOCOLATE</span>
      <svg class="header-logo-icon">
        <use href="./img/symbol-defs.svg#icon-chocolate-logo"></use>
      </svg>
    </a>
    <button
      class="menu-icon-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-icon">
        <use href="./img/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="menu js-menu-container" id="mobile-menu">
      <button type="button" class="menu-close-btn js-close-menu">
        <svg class="menu-close-icon">
          <use href="./img/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
      <div class="menu-nav-social">
        <nav class="header-nav">
          <ul class="header-list">
            <li class="header-item">
              <a href="#home" class="header-link">Home</a>
            </li>
            <li class="header-item">
              <a href="#howmade" class="header-link">How it’s made?</a>
            </li>
            <li class="header-item">
              <a href="#produts" class="header-link">Our products</a>
            </li>
            <li class="header-item">
              <a href="#sallers" class="header-link">Top sellers</a>
            </li>
            <li class="header-item">
              <a href="#chocolove" class="header-link">Chocolate is loved</a>
            </li>
          </ul>
        </nav>
        <ul class="header-social-list">
          <li class="header-social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="header-social-link"
              aria-label="instgram"
            >
              <svg class="header-social-icon">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a
              href="https://twitter.com/"
              target="_blank"
              class="header-social-link"
              aria-label="twitter"
            >
              <svg class="header-social-icon">
                <use href="./img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-desktop">
      <nav class="header-nav-desktop">
        <ul class="header-list-desktop">
          <li class="header-item-desktop">
            <a href="#home" class="header-link">Home</a>
          </li>
          <li class="header-item-desktop">
            <a href="#howmade" class="header-link">How it’s made?</a>
          </li>
          <li class="header-item-desktop">
            <a href="#produts" class="header-link">Our products</a>
          </li>
          <li class="header-item-desktop">
            <a href="#sallers" class="header-link">Top sellers</a>
          </li>
          <li class="header-item-desktop">
            <a href="#chocolove" class="header-link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <ul class="header-social-list-desktop">
        <li class="header-social-item-desktop">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="header-social-link"
            aria-label="instgram"
          >
            <svg class="header-social-icon-desktop">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item-desktop">
          <a
            href="https://twitter.com/"
            target="_blank"
            class="header-social-link"
            aria-label="twitter"
          >
            <svg class="header-social-icon-desktop">
              <use href="./img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
