<section class="hero" id="home">
    <div class="hero-container container">
        <div class="hero-content">
            <h1 class="visually-hidden">CHOCOLATE FOR GOURMETS</h1>
            <p class="hero-text">
                Treat yourself or a loved one to our finest ingredients for a moment of
                pure delight!
            </p>
            <div class="hero-btn-box">
                <ul class="hero-btn">
                    <li class="hero-item">
                        <button type="button" data-modal="1" class="js-open-modal btn-hero btn-bn-hero">
                            Buy now
                        </button>
                    </li>
                    <li class="hero-item">
                        <a href="#howmade" class="btn-hero btn-hm-hero">How it&#39;s made</a>
                    </li>
                </ul>

                <a href="#footer" class="hero-scroll">
                    <p class="hero-scroll-text">scroll down</p>
                    <div class="btn-hero-check">
                        <svg width="16" height="16" class="hero-check">
                            <use href="./img/symbol-defs.svg#icon-angle"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>