<section class="howmmade-section" id="howmade">
  <h2 class="howmade-title title">
    HOW IT’S <span class="howmade-span">MADE?</span>
  </h2>
  <div class="howmade-container container">
    <iframe class="howmade-iframe" width="335" height="500" src="https://www.youtube.com/embed/IWH5LvjtInI"
      loading="lazy" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <div class="howmade-container-list">
      <h3 class="howmade-list-title title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="howmade-list list">
        <li class="howmade-list-item">
          <p>
            Heat the milk in a saucepan without bringing it to a boil.Add sugar
            and cocoa powder.
          </p>
        </li>
        <li class="howmade-list-item">
          <p>At the same time, prepare a water bath.Melt the butter on it.</p>
        </li>
        <li class="howmade-list-item">
          <p>
            "Mix" the milk mixture and already liquid butter.Mix thoroughly with
            a silicone spatula so that the mass becomes uniform and silky.
          </p>
        </li>
        <li class="howmade-list-item">
          <p>Heat the mixture over low heat, letting it barely boil.</p>
        </li>
        <li class="howmade-list-item">
          <p>
            Pour the chocolate into special containers (can be replaced with ice
            molds).Allow to cool and harden.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>