<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="modal-button" data-modal-close>
        <svg class="modal-icon" width="8" height="8">
          <use href="./images/symbol.svg#icon-icon-Vector"></use>
        </svg>
      </button>

      <h2 class="modal-title">
        BUY <span>NOW</span> 
      </h2>
<ul>
    <li><img src="../img/order/order-1.jpg">
    <button type="button">100 g</button></li>
    <li><img src="../img/order/order-2.jpg">
    <button type="button">200 g</button></li>
    <li><img src="../img/order/order-3.jpg">
    <button type="button">300 g</button></li>
</ul>

      <form class="form">
        
          <label class="form-label" for="name">Personal information</label>
          <input
            class="form-input"
            type="text"
            name="uzername"
            id="name"
            placeholder="Name"
          />
          <input
          class="form-input"
          type="text"
          name="uzername"
          id="name"
          placeholder="Surname"
        />
        
        <div class="form-field">
          <label class="form-label" for="tel">Phone</label>
          <input class="form-input" type="tel" name="tel" id="tel" />
          
        </div>

        <div class="form-field">
          <label class="form-label" for="email">Email</label>
          <input
            class="form-input"
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
         
        </div>
        <div class="form-field">
            <label class="form-label" for="tel">Phone number</label>
            <input class="form-input" type="tel" name="tel" id="tel" placeholder="Phone number" />
           
          </div>
          <div class="form-field">
            <label class="form-label" for="card">Card number</label>
            <input class="form-input" type="number" name="card" id="tel" placeholder="Enter card" />
            
          </div>
        <div class="form-field response">
          <label class="form-label" for="textarea">Comment</label>
          <textarea
            class="textarea"
            name="textarea"
            rows="5"
            placeholder="Enter text"
            id="textarea"
          ></textarea>
        </div>

      
        <button type="submit" class="button">submit</button>
      </form>
    </div>
  </div>

