<section class="products-section">
  <div class="container products-container">
    <h2 class="components-title products-title">
      Our <span class="word-color">pRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/orange.jpg    1x,
              ./img/products/orange@2x.jpg 2x
            "
            src="../img/products/orange.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">orange</p>
          <p class="product-card-description">Dark chocolate</p>
          <button type="button" class="product-card-btn">45 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/apple&cranberry.jpg    1x,
              ./img/products/apple&cranberry@2x.jpg 2x
            "
            src="../img/products/apple&cranberry.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">APPLE&CRANBERRY</p>
          <p class="product-card-description">Milk chocolate</p>
          <button type="button" class="product-card-btn">50 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/lime&salt.jpg    1x,
              ./img/products/lime&salt@2x.jpg 2x
            "
            src="../img/products/lime&salt.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">lime&sea salt</p>
          <p class="product-card-description">Dark chocolate</p>
          <button type="button" class="product-card-btn">66 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/pineapple.jpg    1x,
              ./img/products/pineapple@2x.jpg 2x
            "
            src="../img/products/pineapple.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">pineapple</p>
          <p class="product-card-description">Dark chocolate</p>
          <button type="button" class="product-card-btn">54 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/classic-milk.jpg    1x,
              ./img/products/classic-milk@2x.jpg 2x
            "
            src="../img/products/classic-milk.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">Classic</p>
          <p class="product-card-description">Milk chocolate</p>
          <button type="button" class="product-card-btn">45 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="./img/products/honey.jpg 1x, ./img/products/honey@2x.jpg 2x"
            src="../img/products/honey.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">Honey</p>
          <p class="product-card-description">Milk chocolate</p>
          <button type="button" class="product-card-btn">50 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/roasted.jpg    1x,
              ./img/products/roasted@2x.jpg 2x
            "
            src="../img/products/roasted.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">Roasted fruits</p>
          <p class="product-card-description">Dark chocolate</p>
          <button type="button" class="product-card-btn">66 UAH</button>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./img/products/classic-white.jpg    1x,
              ./img/products/classic-white@2x.jpg 2x
            "
            src="../img/products/classic-white.jpg"
            width="230px"
            class="product-card-image"
          />
          <p class="product-card-title">Classic</p>
          <p class="product-card-description">White chocolate</p>
          <button type="button" class="product-card-btn">54 UAH</button>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
