<section id="chocolove" class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title"><span>chocolate</span> is loved</h2>
    <div class="reviews-swiper swiper">
      <ul class="swiper-wrapper reviews-list list">
        <li class="swiper-slide reviews-item">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews-img/victoria-dobrzhanska-1x-min.png 1x,
              ./img/reviews-img/victoria-dobrzhanska-2x-min.png 2x
            "
            src="./img/reviews-img/victoria-dobrzhanska-1x-min.png"
            alt="Victoria Dobrzhanska`s photo"
            height="80"
            width="80"
          />
          <div class="reviews-content">
            <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
            <p class="reviews-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="swiper-slide reviews-item">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews-img/nazar-babenko-1x-min.png 1x,
              ./img/reviews-img/nazar-babenko-2x-min.png 2x
            "
            src="./img/reviews-img/nazar-babenko-1x-min.png"
            alt="Nazar Babenko`s photo"
            height="80"
            width="80"
          />
          <div class="reviews-content">
            <h3 class="reviews-subtitle">Nazar Babenko</h3>
            <p class="reviews-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="swiper-slide reviews-item">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews-img/olena-kampusch-1x-min.png 1x,
              ./img/reviews-img/olena-kampusch-2x-min.png 2x
            "
            src="./img/reviews-img/olena-kampusch-1x-min.png"
            alt="Olena Kampusch`s photo"
            height="80"
            width="80"
          />
          <div class="reviews-content">
            <h3 class="reviews-subtitle">Olena Kampusch</h3>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
         <li class="swiper-slide reviews-item">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews-img/olena-kampusch-1x-min.png 1x,
              ./img/reviews-img/olena-kampusch-2x-min.png 2x
            "
            src="./img/reviews-img/olena-kampusch-1x-min.png"
            alt="Olena Kampusch`s photo"
            height="80"
            width="80"
          />
          <div class="reviews-content">
            <h3 class="reviews-subtitle">Olena Kampusch</h3>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <button data-modal type="button" class="reviews-btn js-open-modal">
        Leave a review
      </button>
    </div>
  </div>
</section>
