<div class="modal reviews-modal" data-modal>
  <button type="button" class="reviews-close-btn js-modal-close">
    <svg class="reviews-form-close-icon">
      <use href="./img/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <p class="reviews-modal-title">
    leave a review <br class="reviews-modal-br" />
    about<span> our chocolate</span>
  </p>
  <form action="#" class="reviews-modal-form form">
    <label class="reviews-form-label">
      <input
        type="text"
        class="reviews-form-input"
        name="name"
        placeholder="Name"
        required
      />
    </label>
    <label class="reviews-form-label">
      <input
        type="email"
        class="reviews-form-input"
        name="email"
        placeholder="Email"
        required
      />
    </label>
    <label class="reviews-form-label">
      <input
        type="tel"
        class="reviews-form-input"
        name="phone"
        placeholder="Phone number"
        required
      />
    </label>
    <label class="reviews-form-label">
      <textarea
        name="comments"
        placeholder="Enter text"
        class="reviews-form-textarea"
      ></textarea>
    </label>
    <button type="submit" class="reviews-form-btn btn">Send</button>
  </form>
</div>
