<section class="section sellers-section" id="sallers">
  <div class="container">
    <h2 class="title-sellers">TOP <span class="title-black">SELLERS</span></h2>
    <div class="top-sellers">
      <ul class="card-sellers list">
        <li class="card-sellers-item">
          <picture>
            <source
              srcset="
                ./img/sellers/sellers-desk1@1x.jpg 1x,
                ./img/sellers/sellers-desk1@2x.jpg 2x
              "
              media="(min-widht: 1200px)"
            />
            <source
              srcset="
                ./img/sellers/sellers-tablet1@1x.jpg 1x,
                ./img/sellers/sellers-tablet1@2x.jpg 2x
              "
              media="(min-widht: 768px)"
            />
            <source
              srcset="
                ./img/sellers/sellers-mobile1@1x.jpg 1x,
                ./img/sellers/sellers-mobile1@2x.jpg 2x
              "
              media="(max-widht: 767px)"
            />
            <img src="./img/sellers/sellers-desk1.jpg" alt="chococoffee" />
          </picture>
          <div class="sellers-content-mobile">
            <p class="about-sellers-mobile">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
          </div>
        </li>

        <li class="card-sellers-item">
          <picture>
            <source
              srcset="
                ./img/sellers/sellers-desk2@1x.jpg 1x,
                ./img/sellers/sellers-desk2@2x.jpg 2x
              "
              media="(min-widht: 1200px)"
            />
            <source
              srcset="
                ./img/sellers/sellers-tablet2@1x.jpg 1x,
                ./img/sellers/sellers-tablet2@2x.jpg 2x
              "
              media="(min-widht: 768px)"
            />
            <source
              srcset="
                ./img/sellers/sellers-mobile2@1x.jpg 1x,
                ./img/sellers/sellers-mobile2@2x.jpg 2x
              "
              media="(max-widht: 767px)"
            />
            <img src="./img/sellers/sellers-desk2.jpg" alt="choconut" />
          </picture>
        </li>
        <li class="card-sellers-item">
          <picture>
            <source
              srcset="
                ./img/sellers/sellers-desk3@1x.jpg 1x,
                ./img/sellers/sellers-desk3@2x.jpg 2x
              "
              media="(min-widht: 1200px)"
            />

            <img src="./img/sellers/sellers-desk3.jpg" alt="chocoblack" />
          </picture>
        </li>
      </ul>
      <div class="sellers-content">
        <p class="about-sellers">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button class="sellers-btn" type="button">Buy now</button>
      </div>
    </div>
  </div>
</section>
