.advantages-section {
  background-color: var(--primery-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.advantages-item {
  margin-bottom: 20px;
  width: 308px;
}

.advantages-item:last-child {
  margin: 0;
}

.block-icon-text {
  width: 308px;
  height: 244px;
}

.block-with-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.advantages-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white);
  margin-bottom: 18px;
}

.advantages-text {
  line-height: 1.21;
  color: var(--white);
  width: 308px;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 33px 60px;
  }

  .advantages-item {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
    
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 70px;
  }

  .advantages-item {
    width: 326px;
    position: relative;
  }
 
  .advantages-border::after {
    content: '';
    position: absolute;
    right: -19%;
    top: 50%;
    width: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
  }
 }
