:root {
  --color-advantages-bg: #1E1823;
  --color-white: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-container {
  width: 100%;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 374px) {
.advantages-container {
  max-width: 335px;
       
}
.block-icon-text {
  position: relative;
  max-width: 280px;
  height: 244px;
}

.block-text {
  position: absolute;
  max-width: 280px;
  height: 142px;
  left: 0px;
  top: 84px;
}

.last-block-icon-text {
  position: relative;
  max-width: 280px;
  height: 225px;
}

.last-block-text {
  position: absolute;
  max-width: 280px;
  height: 141px;
  left: 0px;
  top: 84px;
}
}

.advantages-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--color-advantages-bg);
}

.advantages-item {
  margin-bottom: 20px;
}

.advantages-item:last-child {
  margin: 0;
}

.block-with-line {
  padding: 0 28px 0 0;
}

.advantages-icon {
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
}

.block-with-icon {
  margin-bottom: 22px;
}

.block-icon-text {
  position: relative;
  width: 308px;
  height: 244px;
}

.block-text {
  position: absolute;
  width: 308px;
  height: 142px;
  left: 0px;
  top: 84px;
}

.last-block-icon-text {
  position: relative;
  width: 308px;
  height: 225px;
}

.last-block-text {
  position: absolute;
  width: 308px;
  height: 141px;
  left: 0px;
  top: 84px;
}

.advantages-list .title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--color-white);
  margin-bottom: 18px;
}
   
.advantages-list .text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

  
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .advantages-container {
        max-width: 335px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .advantages-container {
        max-width: 704px;
    }

    .advantages-list {
      display: flex;
      flex-wrap: wrap;
           
    }

    .advantages-item {
      margin-right: 32px;
      margin-bottom: 32px;
    }

    .advantages-item:nth-child(1n+2) {
      margin: 0;
        }

    .advantages-section {
      padding-top: 50px;
      padding-bottom: 50px;
      
    }
  }

  @media screen and (min-width: 1200px) {
    .advantages-container {
        max-width: 1100px;
    }

    .advantages-section {
      padding-top: 50px;
      padding-bottom: 50px;
      
    }
    .block-with-line {
      padding: 0 18px 0 0;
    }
    .advantages-list {
      display: flex;
     
    }
.advantages-item {
  position: relative;
  margin-right: 70px;
}
    .advantages-item:last-child {
      margin: 0;
  }

  .block-with-line::after {
    content: "";
    position: absolute;
    right: -19%;
    top: 50%;
    width: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
    } 

       
    .last-block-icon-text {
      position: relative;
      width: 308px;
      height: 244px;
    }
    
    .last-block-text {
      position: absolute;
      width: 308px;
      height: 160px;
      left: 0px;
      top: 84px;
    }
    
  }





















