.buynow-modal {
  width: 311px;
  height: 100vh;
  padding: 32px 24px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  background-color: transparent;
  border: none;
}

.modal-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: var(--black);
}

.order-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.title-accent {
  color: var(--accent-color);
}

.order-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 32px;
}

.order-item {
  display: flex;
  gap: 74px;
  padding: 8px 16px;

  background-color: var(--white-text);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.item-btn {
  min-width: 75px;
  padding: 6px 16px;
  background-color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--black);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.order-form {
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.form-field,
.field-name {
  display: flex;
  flex-direction: column;
}

.order-label {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left;
}

.form-input,
.form-input-name {
  width: 263px;
  height: 45px;
  padding: 14px 18px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.input-name {
  margin-bottom: 14px;
}

.form-field-group {
  position: relative;
}

.pay-icon {
  position: absolute;
  top: 12px;
  right: 14px;
}

.comment-field {
  display: block;
  padding: 14px 18px;
  width: 263px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  resize: none;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 109px;
  height: 41px;
  padding: 12px 28px;
  border-radius: 100px;

  background-color: var(--accent-color);
  color: var(--white-text);
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:is(:hover, :focus) {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .buynow-modal {
    min-width: 609px;
    padding: 48px;
  }

  .modal-icon {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .order-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .order-list {
    gap: 16px;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .order-item {
    flex-direction: column;
    gap: 14px;
    padding: 24px 20px 18px;
  }

  .item-btn {
    min-width: 96px;
    padding: 8px 27px;
    background-color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--black);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
  }

  .input-wrap {
    display: flex;
    gap: 21px;
    width: 100%;
  }

  .form-input-name {
    width: calc((100% - 21px) / 2);
    height: 66px;
    padding: 14px 18px;

    font-size: 18px;
    line-height: 1.22;
  }

  .form-input {
    width: 513px;
    height: 66px;
    padding: 14px 18px;

    font-size: 18px;
    line-height: 1.22;
  }
  .input-name {
    margin-bottom: 0;
  }

  .form-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }

  .pay-icon {
    top: 18px;
    right: 24px;
    width: 44px;
    height: 30px;
  }

  .comment-field {
    display: block;
    padding: 22px 24px;
    width: 513px;

    font-size: 18px;
    line-height: 1.22;

    resize: none;
  }

  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 109px;
    height: 41px;
    padding: 12px 28px;
    border-radius: 100px;

    background-color: var(--accent-color);
    color: var(--white-text);
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
