body {
    margin: 0px;
}

.components-section {
    padding-top: 72px;
    padding-bottom: 72px;
}

.components-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.components-title {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black);
}

.word-color {
    color: var(--accent-color);
}

.components-description {
    margin-top: 24px;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--black);
}

.components-item {
    height: 270px;
    border-radius: 15px;
    padding: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.components-item:nth-child(4n + 1) {
    background: var(--accent-color);
    color: #fff;
}

.components-item:nth-child(2n + 2) {
    background: #fff;
    border: 1px solid var(--accent-color);
    color: var(--black);
}

.components-item:nth-child(3n + 3) {
    background: var(--primery-color);
    color: var(--white);
}

.components-item:nth-child(n + 2) {
    margin-top: 20px;
}

.components-item-image {
    width: 208px;
}

.components-item-description {
    margin-top: 25px;
    width: 100%;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: currentColor;
}

    /*     mobile       */

@media screen and (min-width: 375px) {
    
    .components-container {
        width: 335px;
    }
    
    .components-title {
        width: 283px;
        margin-left: auto;
        margin-right: auto;
    }

    .components-item-image {
        width: 224px;
        height: 171px;
    }
}

    /*      tablet      */

@media screen and (min-width: 768px) {

    .components-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .components-container {
        width: 704px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .components-title {
        width: 411px;
        font-size: 24px;
        line-height: 1.17;
    }

    .components-description {
        width: 486px;
        margin: 28px auto 50px auto;
    }

    .components-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .components-item {
        width: 336px;
        margin: 0;
    }

    .components-item:nth-child(-n + 2) {
        margin-top: 0;
    }

    .components-item:nth-child(n + 2) {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .components-section {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .components-container {
        width: 1136px;
    }

    .components-list {
        gap: 18px;
    }

    .components-item {
        width: 270px;
    }
}