body {
    margin: 0px;
}

.components-section {
    padding-top: 72px;
    padding-bottom: 72px;
}

.components-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.components-title {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black);
}

.word-color {
    color: var(--accent-color);
}

.components-description {
    margin-top: 24px;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--black);
}

.flip-card-inner {
    border-radius: 15px;
}

.components-item {
    height: 270px;
    border-radius: 15px;
    padding: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.flip-card {
    background-color: transparent;
    height: 270px;
}

.flip-card:nth-child(4n + 1) .flip-card-front {
    background: var(--accent-color);
    color: #fff;
}

.flip-card:nth-child(2n + 2) .flip-card-front {
    background: #fff;
    border: 1px solid var(--accent-color);
    color: var(--black);
}

.flip-card:nth-child(3n + 3) .flip-card-front {
    background: var(--primery-color);
    color: var(--white);
}

.flip-card:nth-child(n + 2) {
    margin-top: 20px;
}

.components-item-image {
    width: 208px;
}

.components-item-description {
    margin-top: 25px;
    width: 100%;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: currentColor;
}

    /*     mobile       */

@media screen and (min-width: 375px) {
    
    .components-container {
        max-width: 375px;
    }
    
    .components-title {
        width: 283px;
        margin-left: auto;
        margin-right: auto;
    }

    .components-item-image {
        width: 224px;
        height: 171px;
    }
}

    /*      tablet      */

@media screen and (min-width: 768px) {

    .components-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .components-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .components-title {
        width: 411px;
        font-size: 24px;
        line-height: 1.17;
    }

    .components-description {
        width: 486px;
        margin: 28px auto 50px auto;
    }

    .components-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .components-item {
        width: 336px;
        margin: 0;
    }

    .flip-card {
        width: 336px;
        height: 270px;
    }

    .components-item:nth-child(-n + 2) {
        margin-top: 0;
    }

    .flip-card:nth-child(n + 2) {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .components-section {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .components-container {
        max-width: 1200px;
    }

    .components-list {
        gap: 18px;
    }

    .components-item {
        width: 270px;
    }

    .flip-card {
        background-color: transparent;
        width: 270px;
    }
}

/*      flip card      */

.flip-card {
    height: 270px;
    perspective: 1000px;
}

.flip-card-inner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    box-sizing: border-box;
}

.flip-card-back {
    box-sizing: border-box;
    background-color: #fff;
    color: var(--black);
    transform: rotateY(180deg);
    border-radius: 15px;
    /*border: 2px solid #fff;*/
    padding: 28px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card-back-title {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 8px;
}

.card-first-button {
    padding: 6px 16px;
    background: var(--accent-color);
    border-radius: 35px;
    border: none;
    font-size: 10px;
    line-height: 1.2;
}

.card-second-button {
    padding: 6px 16px;
    background: #fff;
    border-radius: 35px;
    border: 1px solid var(--accent-color);
    font-size: 10px;
    line-height: 1.2;
}

.card-description-field {
    margin-top: 14px;
    width: 100%;
    height: 146px;
    overflow: hidden;
    /*overflow-y: scroll;*/
}

.card-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}