footer {
  padding: 32px 0;
  background-color: var(--primery-color);
}

.addres-wrap {
  margin-bottom: 32px;
}

.title-footer {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 32px;
  max-width: 300px;
}
.desc-footer {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 14px;
}
.title-footer span {
  color: var(--accent-color);
}
.footer-list-addres {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}
.footer-list-addres li:first-child {
  margin-bottom: 8px;
}
.footer-list-addres-item:is(:hover, :focus) {
  color: var(--accent-color);
}

.footer-list-nav {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.footer-list-nav li {
  margin-bottom: 18px;
}
.footer-list-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav::before {
  content: '';
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

.addres-wrap {
  display: flex;
  justify-content: space-between;
}
.footer-list-icon li {
  display: inline;
}
.footer-list-icon li:first-child {
  margin-right: 14px;
}

.footer-list-nav-item:is(:hover, :focus) {
  color: var(--accent-color);
}

.icon-footer {
  stroke: white;
  height: 22px;
  width: 22px;
  display: inline-block;
}
.icon-footer:hover,
.icon-footer:focus {
  stroke: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .icon-footer {
    height: 24px;
    width: 24px;
  }
  .first-footer-part {
    display: flex;
    justify-content: space-between;
  }
  .footer-addres {
    margin-right: 63px;
  }
  .footer-list-nav li {
    display: inline;
    margin-right: 24px;
  }

  .footer-list-nav li:last-child {
    margin-right: 0;
  }
}
