@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  position: sticky;
  z-index: 999;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--black);
}

.header-logo span {
  font-style: normal;
}

.header-logo-icon {
  width: 21px;
  height: 21px;
}

.menu-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: var(--black);
  outline: none;
}

.menu-icon {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

.menu {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 999; 
  top: 0; 
  right: 0;
  background-color: var(--primery-color); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.menu-nav-social {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  outline: none;
}
.menu-close-icon {
  fill: currentColor;
  width: 28px;
  height: 28px;
}
.header-nav {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-top: 136px;
  margin-left: 50px;
}

.header-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-item {
}
.header-social-list {
  display: flex;
  gap: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.header-social-item {
  color: var(--white);
}
.header-social-icon {
  fill: currentColor;
  width: 22px;
  height: 22px;
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .menu-icon-btn {
    display: none;
  }

  .menu {
    display: none;
  }

  .header-logo {
    margin-right: auto;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
  }

  .header-logo-icon {
    width: 24px;
    height: 24px;
  }

  .menu-desktop {
    display: flex;
    align-items: center;
  }

  .header-nav-desktop {
    margin-right: 137px;
    color: var(--black);
  }

  .header-list-desktop {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .header-item-desktop {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .header-social-list-desktop {
    display: flex;
    gap: 18px;
    margin-left: auto;
  }

  .header-social-item-desktop {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .header-social-icon-desktop {
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: var(--black);
  }
}
