.header {
  position: fixed;
  height: 62px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 20;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--black);
}

.header-logo span {
  font-style: normal;
}

.header-logo-icon {
  width: 21px;
  height: 21px;
}

.menu-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.menu-icon {
  width: 21px;
  height: 14px;
  stroke: var(--black);
}

.menu {
  height: 100vh;
  width: 220px;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: var(--primery-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu.is-open {
  transform: translateX(0);
}

.menu-nav-social {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
  outline: none;
}

.menu-close-icon {
  stroke: var(--white);
  width: 28px;
  height: 28px;
}

.header-nav {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-top: 136px;
  margin-left: 50px;
}

.header-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-social-list {
  display: flex;
  gap: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.header-social-item {
}

.header-social-icon {
  width: 22px;
  height: 22px;
  stroke: var(--white);
}

.header-social-icon:is(:hover, :focus) {
  stroke: var(--accent-color);
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }

  .header {
    height: 80px;
  }

  .header-logo {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .menu {
    width: 290px;
  }

  .menu-icon-btn {
    top: 32px;
    right: 36px;
  }

  .menu-icon {
    width: 24px;
    height: 16px;
  }

  .menu-close-icon {
    width: 38px;
    height: 38px;
  }

  .header-nav {
    margin-top: 156px;
    margin-left: 85px;
  }

  .header-social-list {
    margin-left: 32px;
    margin-bottom: 24px;
  }

  .menu-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
   .header-container {
    display: flex;
    align-items: center;
  }

  .menu-icon-btn {
    display: none;
  }

  .menu {
    display: none;
  }

  .header-logo {
    padding-top: 26px;
    padding-bottom: 34px;
    margin-right: auto;
    font-size: 18px;
    line-height: 20px;
  }

  .header-logo-icon {
    width: 24px;
    height: 24px;
  }

  .menu-desktop {
    display: flex;
    align-items: center;
  }

  .header-nav-desktop {
    margin-right: 137px;
    color: var(--black);
  }

  .header-list-desktop {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .header-item-desktop {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .header-social-list-desktop {
    display: flex;
    gap: 18px;
    margin-left: auto;
  }

  .header-social-item-desktop {
    padding-top: 28px;
    padding-bottom: 36px;
    /* color: var(--black); */
  }

  .header-social-icon-desktop {
    width: 24px;
    height: 24px;
    stroke: var(--black);
    fill: transparent;
  }

  .header-social-icon-desktop:is(:hover, :focus) {
    stroke: var(--accent-color);
  }
}
