/*-----for-styles.css-----*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

/*-----------------------*/

/*-----for-reset.css-----*/

.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-widht: 376px) {
    .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-widht: 768px) {
    .container {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-widht: 1200px) {
    .container {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
}

/*-----------------------*/

.hero-container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero {
    background-image: url(/img/hero/hero-bg-chocolate-mobile@1x.jpg);
    background-size: auto;
    height: 620px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 0px solid #000000;
    border-radius: 30px;
    margin: 14px 0 72px 0;
    padding-top: 350px;
    padding-left: 15px;
}

.hero-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    /*color: #ffffff;*/
    color: var(--white-text);
    padding-bottom: 32px;
    padding-left: 0;
    width: 200px;
    margin: 0;
}

.hero-btn-box {
    padding-left: 0;
}

.hero-btn {
    display: flex;
    gap: 14px;
}

.btn-hero {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /*color: #FFFFFF;*/
    color: var(--white-text);
    justify-content: center;
    align-items: center;
    height: 41px;
    border-radius: 100px;
}

.btn-bn-hero {
    /*background: #FD9222;*/
    background: var(--accent-color);
    border: none;
    width: 100px;
    /*transition-property: background;*/
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.btn-bn-hero:is(:hover, :focus) {
    background-color: #fcf1e0;
    color: var(--accent-color);
}

.btn-hm-hero {
    background-color: transparent;
    /*border: 1px solid #FFFFFF;*/
    border: 1px solid var(--white-text);
    width: 135px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hm-hero:hover,
.btn-hm-hero-act:focus,
.btn-hm-hero {
    /*border: 1px solid #FD9222;*/
    /*color: #FD9222;*/
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.hero-scroll {
    display: flex;
    gap: 12px;
    padding-left: 0px;
    padding-top: 32px;
    align-items: center;
    /*fill: #FD9222;*/
    fill: var(--accent-color);
}

.hero-scroll:hover .hero-scroll-text,
.hero-scroll:focus .hero-scroll-text {
    /*color: #FD9222;*/
    color: var(--accent-color);
}

.hero-scroll:hover .btn-hero-check,
.hero-scroll:focus .btn-hero-check {
    /*background-color: #FD9222;*/
    /*fill: #ffffff;*/
    background-color: var(--accent-color);
    fill: var(--white-text);
}

.hero-scroll-text {
    color: var(--white-text);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    width: 67px;
    padding: 0;
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero-check {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    /*background-color: #ffffff;*/
    background-color: var(--white-text);
    padding-top: 6px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}

/*html {
    scroll-behavior: smooth;
}*/

@media screen and (min-width: 376px) {
    .hero-text {
        padding-left: 20px;
        width: 290px;
    }

    .hero {
        padding-top: 395px;
        padding-left: 0;
    }

    .hero-btn-box {
        padding-left: 20px;
    }

    .btn-bn-hero {
        width: 120px;
    }

    .btn-hm-hero {
        width: 159px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url(/img/hero/hero-bg-chocolate-mobile@2x.jpg);

    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        padding: 0;
    }

    .hero {
        background-image: url(/img/hero/hero-bg-chocolate-tablet@1x.jpg);
        height: 890px;
        margin-top: 24px;
        padding-top: 671px;
        margin-bottom: 50px;
        margin-left: 32px;
        margin-right: 32px;
        padding-left: 20px;
    }

    .hero-text {
        width: 460px;
        font-size: 28px;
        line-height: 34px;
    }

    .hero-btn-box {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }

    .hero-scroll-text {
        width: 78px;
        font-size: 14px;
        line-height: 18px;
    }

    .hero-scroll {
        padding-top: 0;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: url(/img/hero/hero-bg-chocolate-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero-container {
        padding-top: 0;
    }

    .hero {
        background-image: url(/img/hero/hero-bg-chocolate-desktop@1x.jpg);
        height: 600px;
        margin-top: 32px;
        padding-top: 381px;
        margin-bottom: 72px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text {
        font-size: 28px;
        line-height: 34px;
        width: 460px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: url(/img/hero/hero-bg-chocolate-desktop@2x.jpg);
    }
}