*{
    box-sizing: border-box;
    
}
.list,
.title,
p {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.backdrop{
}
.modal{
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
    background: #FAFAFA;
border-radius: 15px;
padding-right: 24px;
padding-top: 32px;
padding-left: 24px;
padding-bottom: 32px;
}
.modal-button{
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    width: 24px;
    height: 24px;
    color: #000;
   justify-content: center;
    align-items: center;
    border: none;
    background: #FAFAFA;
}
    

.modal-icon{
    fill:currentColor;
}   
.modal-title{
    font-family: 'Montserrat';
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: block;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: -0.03em;
color: #FD9222;
margin-bottom: 32px;
}
.modal-title span{
    color: #111111;
}
.list{
    padding: 0;
    margin: 0;
}
.list .item{
    
    display: flex;
    width: 100%;
    max-width: 513px;
height: 85px;
background: #FFFFFF;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
text-decoration: none;
list-style: none;
padding-top: 8px;
padding-left: 16px;
padding-bottom: 8px;
padding-right: 16px;
margin: 0;
margin-bottom: 8px;
justify-content: center;
align-items: center;

}
.item img{
    width: 82px;
    height: 69px;
}

.item-button{
   
    margin-left: auto;
    margin-right: 0;
    padding: 6px 16px;
gap: 14px;

width: 70px;
height: 29px;
font-weight: 600;
font-size: 14px;
line-height: 1.21;
background: #FAFAFA;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 100px;

}
.form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 0;
}
.form-field{
    width: 100%;
    margin-bottom: 18px;
    position: relative;
}
.form-label{
    display: block;
    width: 100%;
    font-weight: 500;
font-size: 12px;
line-height: 1.17;
/* identical to box height, or 117% */

letter-spacing: -0.02em;
color: #000000;
margin-bottom: 8px;
}
.form-input{
    max-width: 513px;
    width: 100%;
    display: block;
    padding: 14px 18px;
gap: 40px;

height: 45px;

border: 1.5px solid rgba(17, 17, 17, 0.05);
filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
border-radius: 8px;
font-weight: 400;
font-size: 14px;
line-height: 1.21;
/* identical to box height */
align-items: center;
letter-spacing: -0.02em;

color: #000000;
}
.input{
    margin-bottom: 14px;
}
::placeholder {
    color: rgba(64, 64, 64, 0.3);
}

.textarea{
    padding: 14px 18px;
    gap: 40px;
    width: 263px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
border-radius: 8px;
font-weight: 400;
font-size: 14px;
line-height: 1.21;
}
.button{
    padding: 12px 28px;
gap: 14px;
font-weight: 600;
font-size: 14px;
line-height: 1.21;

color: #FFFFFF;
width: 109px;
height: 41px;

border: none;
background: #FD9222;
border-radius: 100px;
}
.card{
    position: absolute;
    right: 16px;
    bottom: 16px;
}
@media screen and (min-width:320px) {
    .modal{
        max-width: 311px;
    }

}

@media screen and (min-width: 767px) {
    .modal{
        max-width: 609px;
        padding: 48px;
    }
    .form{
        margin-bottom: 40px;
    }
    .list .item{
    
        display: flex;
        flex-wrap: wrap;
        width: 160px;
    height: 196px;
   
    }
    .list{
        display: flex;
        gap: 16px;
    }
    .form-input{
        width: 513px;
    }
    .form-input.input{
        width: 246px;
    }
    .field{
        display: flex;
        flex-wrap: wrap;
        gap: 21px;
    }
    .textarea{
        width: 513px;
    }

}
