:root {
    --swiper-theme-color: var(--accent-color);
}

.products-section {
    padding-top: 36px;
    padding-bottom: 36px;
}

.swiper {
    margin-top: 32px;
    width: 100%;
    height: 397px;
}

.swiper-wrapper {
    width: 270px;
}

.swiper-slide {
    box-sizing: border-box;
    height: 364px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 32px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.swiper-pagination {}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border-radius: 13px;
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    border-radius: 13px;
}

.product-card-image {}

.product-card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 8px;
    color: var(--black);
}

.product-card-description {
    margin-top: 2px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.product-card-btn {
    padding: 8px 20px;
    min-width: 94px;
    min-height: 33px;
    background: var(--white);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 33px;
    margin-top: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: var(--black);
}

@media screen and (min-width: 768px) {
    .swiper {
        width: 704px;
    }

    .products-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .swiper {
        width: 1136px;
    }

    .products-section {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}