@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.sellers-section {
  background-color: #fafafa;
  padding-top: 36px;
  padding-bottom: 36px;
}

.title-sellers {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 50px;
}
.title-black {
  color: var(--black);
}

.card-sellers {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  justify-content: center;
}
.card-sellers-item img {
  border-radius: 15px;
}
.sellers-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-sellers,
.about-sellers-mobile {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  color: var(--black);
}

button {
  cursor: pointer;
  font-family: inherit;
}

.sellers-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;

  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sellers-btn:hover,
.sellers-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
@media screen and (max-width: 767px) {
  .card-sellers {
    flex-wrap: wrap;
    gap: 32px;
  }

  .card-sellers-item:nth-child(3) {
    display: none;
  }

  .title-sellers {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .sellers-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sellers-content-mobile {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .about-sellers {
    display: none;
  }

  .sellers-btn {
    display: block;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .sellers-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card-sellers-item:nth-child(3) {
    display: none;
  }

  .about-sellers {
    width: 306px;
  }

  .sellers-content-mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sellers-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .card-sellers-item:nth-child(3) {
    display: flex;
  }
  .about-sellers {
    width: 407px;
  }
  .card-sellers-item {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
  .card-sellers-item:last-child {
    margin-right: 0;
  }
  .card-sellers {
    gap: 0;
  }
  .sellers-content {
    padding-left: 32px;
    padding-right: 32px;
  }
}
