/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./modal-setup.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./buynow-modal.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./howmade.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./reviews-modal.css');
@import url('./subscribe.css');
@import url('./footer.css');

:root {
  --primery-color: #1e1823;
  --accent-color: #fd9222;
  --black: #111111;
  --white: #fafafa;
  --white-text: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 62px;

  background-color: var(--white);
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  body {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
