/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./howmade.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

:root {
  --primery-color: #1e1823;
  --accent-color: #fd9222;
  --black: #111111;
  --white: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 335px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.body {
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
}
