.subscribe-section {
  padding-top: 62px;
  padding-bottom: 63px;

  text-align: center;
  color: var(--white-text);

  background-image: url(/img/subscribe/subcribe-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: url(/img/subscribe/subcribe-mobile@2x.jpg);
  }
}

.subscribe-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.subscribe-section-title {
  max-width: 291px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.subscribe-section-descr {
  max-width: 326px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  width: 128px;
  height: 41px;

  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: inherit;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .subscribe-section {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(/img/subscribe/subcribe-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: url(/img/subscribe/subcribe-tablet@2x.jpg);
    }
  }

  .subscribe-section-title {
    width: 378px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
  }

  .subscribe-section-descr {
    max-width: 467px;
  }

  .subscribe-btn {
    padding: 14px 40px;
    width: 172px;
    height: 50px;

    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  /* .container {
    max-width: 1200px;
  } */

  .subscribe-section {
    background-image: url(/img/subscribe/subcribe-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: url(/img/subscribe/subcribe-desktop@2x.jpg);
    }
  }
}
/* =================Modal================= */

.modal-subscribe {
  width: 311px;
  padding: 0;
  padding-bottom: 32px;
  overflow: hidden;
}
.modal-pic {
  width: 311px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .modal-subscribe {
    min-width: 538px;
  }
  .modal-pic {
    width: 538px;
  }
}

.close-btn {
  background-color: transparent;
  border: none;
}

.modal-cross {
  position: absolute;
  top: 15px;
  right: 14px;
  fill: var(--white-text);
}
@media screen and (min-width: 768px) {
  .modal-cross {
    width: 28px;
    height: 28px;
  }
}

.modal-content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .modal-content {
    padding: 0 40px;
    gap: 28px;
  }
}

.modal-title {
  max-width: 263px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--black);
}

.title-accent {
  color: var(--accent-color);
}
.submit-form {
  position: relative;
  display: flex;
  gap: 8px;
}

.submit-input {
  width: 100%;

  height: calc(45px - 1.5px);
  padding: 0 118px 0 18px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  background-color: transparent;
}

.submit-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21px;
  color: rgba(64, 64, 64, 0.3);
}
.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 45px;
  padding: 14px 28px;
  border-radius: 100px;

  background-color: var(--accent-color);
  color: var(--white-text);
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:is(:hover, :focus) {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .submit-input {
    width: 313px;
    height: 52px;
    padding: 0 24px;
  }

  .submit-input::placeholder {
    font-size: 18px;
    line-height: 1.22px;
  }

  .submit-btn {
    position: static;
    min-width: 137px;
    height: 52px;
    padding: 17px 40px;
  }
}
